body {
    background: green;
}

#case {
    background-color: red;
    width: 900px;
    margin: auto;
    border-radius: 50px;
}

#canvas {
    display: grid;
    height: 480px;
    width: 480px;
    background-color: red;
    margin: auto;
    padding-top: 100px;

}

#toolbar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    color: gold;
    font-size: 24px;

}

.knob {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 100px;
}

p{
    vertical-align: middle;
}


.square {
    border-color: black;
    border-style: solid;
    border-width: .5px;
    background-color: white;
}

